{% extends 'base.html' %}

{% block head %}
    <title>{{ format_name }} overview</title>
{% endblock %}

{% block body %}
<div class="data_table">
    <h1 style="text-align: center">{{ format_name }} prices overview</h1>
    <table>
        <tr>
            <th style="vertical-align:middle">Card Details</th>
            {% for col in column_names %}
            <th style="vertical-align:middle">{{col}}</th>
            {% endfor %}  
        </tr>
        {% for row, placing, scryfall_url in zip(row_data, placings, scryfall_urls) %}
        <tr>
            <td>
                <a href="/pricing_plot/{{format_name}}/{{placing}}"> Show Price History </a>
                <br>
                <a href="{{scryfall_url}}"> Show Card </a>
            </td>
            {% for col, row_ in zip(column_names, row) %}
                <td style="vertical-align:middle">{{row_}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    
    </table>
</div>

{% endblock %}