{% extends 'base.html' %}

{% block head %}
    <title>{{ format_name }} overview</title>
{% endblock %}

{% block body %}
<div class="data_table">
    <h1 style="text-align: center">{{ format_name }} prices overview</h1>
    <table>
        <tr>
            <th>Price Overview</th>
            {% for col in column_names %}
            <th>{{col}}</th>
            {% endfor %}  
        </tr>
        {% for row, media in zip(row_data, media_paths) %}
        <tr>
            <td>
                <span>Show price overview</span> 
                <img src={{media}} alt="price overview">
            </td>
            {% for col, row_ in zip(column_names, row) %}
                <td>{{row_}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    
    </table>
</div>

{% endblock %}